KUBE_LOGTOSTDERR="--logtostderr=false"
KUBE_LOG_LEVEL="--v=4"
KUBE_MASTER="--master={{ k8s_api_server_http_url }}"

# --root-ca-file="": If set, this root certificate authority will be included in
# service account's token secret. This must be a valid PEM-encoded CA bundle.
KUBE_CONTROLLER_MANAGER_ROOT_CA_FILE="--root-ca-file={{ kube_apiserver_cert_path }}/ca.crt"

# --service-account-private-key-file="": Filename containing a PEM-encoded private
# RSA key used to sign service account tokens.
KUBE_CONTROLLER_MANAGER_SERVICE_ACCOUNT_PRIVATE_KEY_FILE="--service-account-private-key-file={{ kube_apiserver_cert_path }}/sa.key"

# --leader-elect: Start a leader election client and gain leadership before
# executing the main loop. Enable this when running replicated components for high availability.
KUBE_LEADER_ELECT="--leader-elect=true"

# Add your own!
KUBE_CONTROLLER_MANAGER_ARGS="{% for arg in kube_controller_manager_args %}{{ arg }}{% if not loop.last %} {% endif %}{% endfor %}"
